section#dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  width: 100%;
  margin: 0 auto;

  button {
    background: lightcoral;
    color: white;
    border-style: none;
    padding: 10px 30px;
    margin-top: 100px;
    cursor: pointer;
    width: 100%;
  }

  ul {
    padding: 0;
    list-style: none;
    width: 100%;

    li {
      background: #eee;
      margin-bottom: 5px;
      padding: 10px;
      cursor: pointer;
    }
  }
}
